server:
  port: 8008
#  servlet:
#    context-path: /api

management:
  endpoint:
    metrics.enabled: true
  endpoints:
    web:
      exposure:
        include: '*'

spring:
  main:
    allow-bean-definition-overriding: true
  jackson:
    deserialization:
      read-date-timestamps-as-nanoseconds: false
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/farm_db}
    username: ${DATABASE_USER:kate}
    password: ${DATABASE_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  liquibase:
    enabled: true
    liquibaseSchema: public
    change-log: classpath:db/changelog/db.changelog-master.yml
  jpa:
    show-sql: true
    open-in-view: false
    generate-ddl: false
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy

springdoc:
  packagesToScan:
    - com.example.demo.api
  api-docs.path: /api-docs



